.mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
    margin-top: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
}
  
/* Style the navigation menu */
.myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow: auto
}
  
/* Style the navigation links */
.myMenu li  {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block;
    // border: 2px solid #ddd;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    margin-bottom: 2px;
    cursor: pointer;
}

.myMenu li a {
    padding-left: 30px;
    text-decoration: none;
    color: black;
}

// .myMenu li:last-child {
//     border-bottom: 2px solid #ddd;
// }
  
// .myMenu li:hover {
//     background-color: #ddd;
// }
.demo{
    background-color: #ddd;
}
.selected {
    background-color: #eee;
}