<div class="main-content">
  <div class="container-fluid">
      <div class="page-header">
          <div class="row align-items-end">
              <div class="col-lg-8">
                  <div class="page-header-title">
                      <i class="ik ik-inbox bg-blue"></i>
                      <div class="d-inline">
                          <h5>Data Table</h5>
                          <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <nav class="breadcrumb-container" aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item">
                              <a href="../index.html"><i class="ik ik-home"></i></a>
                          </li>
                          <li class="breadcrumb-item">
                              <a href="#">Tables</a>
                          </li>
                          <li class="breadcrumb-item active" aria-current="page">Data Table</li>
                      </ol>
                  </nav>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active">Nguyên liệu</li>
                  <li class="breadcrumb-item" aria-current="page" (click)="goToSpice()">Gia vị</li>
                </ol>
            </nav>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header d-block">
                      <h3 style="float: left;">Quản lý nguyên liệu</h3>
                      <div class="input-group" style="margin-bottom: 0 !important; float: right; width: unset;">
                          <button class="btn btn-info buttonAddNew" type="submit" style="height: 35px;" (click)= "openModalAdd()">Create</button>
                      </div>
                  </div>
                  <div class="card-body">
                      <table class="table"> <!-- data_table -->
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Nguyên liệu</th>
                                  <th>Giá mua</th>
                                  <th class="nosort">Ảnh</th>
                                  <th class="nosort">Thao tác</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of material_response">
                                  <td>{{item.id}}</td>
                                  <td>{{item.name}}</td>
                                  <td>{{item.purchase_price}}</td>
                                  <td><img src="{{item.image}}" class="table-user-thumb text-left" alt="{{item.name}}"></td>
                                  <td>
                                      <div class="table-actions" style="text-align: left;">
                                          <a (click)="onDeleteModel(item.id)"><i class="ik ik-trash-2"></i></a>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalAddEdit" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 650px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <form class="forms-sample" (ngSubmit)="onSubmit(f,image)" #f="ngForm">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" *ngFor="let item of materialCustom">
                        <a class="nav-link"
                            [class.active]="item.name == checkFirstArray"
                            id="home-tab" 
                            data-toggle="tab" 
                            href="#home{{item.id}}" 
                            role="tab" 
                            aria-controls="home" 
                            aria-selected="true">{{item.name}}
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show" 
                            [class.active]="item1.name == checkFirstArray"
                            id="home{{item1.id}}" 
                            role="tabpanel" 
                            aria-labelledby="home-tab" *ngFor="let item1 of materialCustom">
                            
                            <input type="text" 
                                id="mySearch{{item1.id}}" 
                                (keyup)="FuncSearch(item1.id)" 
                                placeholder="Search.." 
                                title="Type in a category"
                                class="mySearch"
                            >
                            <table class="table table-bordered" id="myMenu{{item1.id}}">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Count</th>
                                </tr>
                                <tr *ngFor="let item of item1.data" 
                                (click)="action(item.id)" 
                                [class.demo]="item.status == 1"
                                [class.demo]="item.status == 2"
                                >
                                    <td scope="row">{{item.id}}</td>
                                    <td><img _ngcontent-c5="" class="table-user-thumb text-left" src="{{item.image}}" alt="{{item.name}}"></td>
                                    <td><a >{{item.name}}</a></td>
                                    <td style="width: 100px"><input type="number" class="form-control" value="1" id="count{{item.id}}"></td>
                                </tr>
                            </table>                            
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="submit" (click)="save()">Save changes</button>
            </div>
            
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div id="modalDelete" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="padding: 30px;">
          <input type="hidden" id="id-delete" name="id-delete" />
          <h2 class="h2-waring text-center">Are You Sure?</h2>
          <p class="lead text-muted text-center" style="display: block;">You
              will not restore this data!</p>
          <div class="sa-button-container" style="text-align: center">
            <button class="confirm btn-lg btn-info" data-dismiss="modal" id="delete" style="margin-right: 10px" (click)="destroy()">
                Agree
            </button>
              <button class="cancel btn-lg btn-default"
                      style="border: 1px solid #ccc" data-dismiss="modal">Cancel</button>
          </div>
      </div>

  </div>
</div>