<div class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="page-header-title">
                        <i class="ik ik-inbox bg-blue"></i>
                        <div class="d-inline">
                            <h5>Data Table</h5>
                            <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <nav class="breadcrumb-container" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="../index.html"><i class="ik ik-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Tables</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Data Table</li>
                        </ol>
                    </nav>
              </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h3 style="float: left;">Quản lý Công thức nấu ăn</h3>
                        <div class="input-group" style="margin-bottom: 0 !important; float: right; width: unset;">
                            <button class="btn btn-info buttonAddNew" type="submit" style="height: 35px;" (click)= "openModalAdd()">Create</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table"> <!-- data_table -->
                            <thead>
                                <tr>
                                    <th>Thứ tự</th>
                                    <th>Bước</th>
                                    <th>Mô tả</th>
                                    <th>Thời gian</th>
                                    <th class="nosort">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of recipe_response">
                                    <td>{{item.index}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.time}}</td>
                                    <td>
                                        <div class="table-actions" style="text-align: left;">
                                            <a (click)="openModalEdit(item)"><i class="ik ik-eye"></i></a>
                                            <a (click)="onDeleteModel(item.id)"><i class="ik ik-trash-2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalAddEdit" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="card-body">
              <form class="forms-sample" (ngSubmit)="onSubmit(f,image)" #f="ngForm">
                <div class="form-group">
                    <label for="name">Bước</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Tên danh mục" ngModel>
                </div>
                <div class="form-group">
                    <label for="name">Mô tả</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="Mô tả" ngModel>
                </div>
                <div class="form-group">
                    <label for="time">Thời gian nấu</label>
                    <select class="form-control" id="time" name="time" [(ngModel)] = "time" >
                        <option value="0">--Chọn thời gian nấu--</option>
                        <option value="900">15 Phút</option>
                        <option value="1800">30 Phút</option>
                        <option value="2700">45 Phút</option>
                    </select>
                </div>
                <div class="form-group" id="index-show">
                    <label for="index">Thứ tự</label>
                    <input type="number" class="form-control" id="index" name="index" placeholder="Thứ tự" ngModel >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnDelete" data-dismiss="modal">Delete</button>
                    <button type="submit" class="btn btn-primary" id="submit">Save changes</button>
                </div>
              </form>
          </div>
          
      </div>
  </div>
</div>

<!-- Modal Delete -->
<div id="modalDelete" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="padding: 30px;">
          <input type="hidden" id="id-delete" name="id-delete" />
          <h2 class="h2-waring text-center">Are You Sure?</h2>
          <p class="lead text-muted text-center" style="display: block;">You
              will not restore this data!</p>
          <div class="sa-button-container" style="text-align: center">
            <button class="confirm btn-lg btn-info" data-dismiss="modal" id="delete" style="margin-right: 10px" (click)="destroy()">
                Agree
            </button>
              <button class="cancel btn-lg btn-default"
                      style="border: 1px solid #ccc" data-dismiss="modal">Cancel</button>
          </div>
      </div>

  </div>
</div>