<div class="wrapper">
    <app-header></app-header>

    <div class="page-wrap">
        <app-nav-bar></app-nav-bar>

        <router-outlet></router-outlet>

        <app-footer></app-footer>
    </div>
</div>
<ng-snotify></ng-snotify>



