<div class="app-sidebar colored">
  <div class="sidebar-header">
      <a class="header-brand" href="index.html">
          <div class="logo-img">
             <img src="assets/src/img/brand-white.svg" class="header-brand-img" alt="lavalite"> 
          </div>
          <span class="text">ThemeKit</span>
      </a>
      <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
      <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
  </div>
  
  <div class="sidebar-content">
      <div class="nav-container">
          <nav id="main-menu-navigation" class="navigation-main">
              <div class="nav-lavel">Dashboard</div>
              <div class="nav-item">
                  <a [routerLink]="['./dashboard']"
                  routerLinkActive="active"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
              </div>
              <!-- <div class="nav-item">
                  <a href="pages/navbar.html"><i class="ik ik-menu"></i><span>Navigation</span> <span class="badge badge-success">New</span></a>
              </div>
              <div class="nav-item has-sub">
                  <a href="javascript:void(0)"><i class="ik ik-layers"></i><span>Widgets</span> <span class="badge badge-danger">150+</span></a>
                  <div class="submenu-content">
                      <a href="pages/widgets.html" class="menu-item">Basic</a>
                      <a href="pages/widget-statistic.html" class="menu-item">Statistic</a>
                      <a href="pages/widget-data.html" class="menu-item">Data</a>
                      <a href="pages/widget-chart.html" class="menu-item">Chart Widget</a>
                  </div>
              </div> -->
              <!-- <div class="nav-lavel">User</div>
              <div class="nav-item has-sub">
                  <a href="#"><i class="ik ik-box"></i><span>Basic</span></a>
                  <div class="submenu-content">
                      <a href="pages/ui/alerts.html" class="menu-item">Alerts</a>
                      <a href="pages/ui/badges.html" class="menu-item">Badges</a>
                      <a href="pages/ui/buttons.html" class="menu-item">Buttons</a>
                      <a href="pages/ui/navigation.html" class="menu-item">Navigation</a>
                  </div>
              </div>
              <div class="nav-item has-sub">
                  <a href="#"><i class="ik ik-gitlab"></i><span>Advance</span> <span class="badge badge-success">New</span></a>
                  <div class="submenu-content">
                      <a href="pages/ui/modals.html" class="menu-item">Modals</a>
                      <a href="pages/ui/notifications.html" class="menu-item">Notifications</a>
                      <a href="pages/ui/carousel.html" class="menu-item">Slider</a>
                      <a href="pages/ui/range-slider.html" class="menu-item">Range Slider</a>
                      <a href="pages/ui/rating.html" class="menu-item">Rating</a>
                  </div>
              </div>
              <div class="nav-item has-sub">
                  <a href="#"><i class="ik ik-package"></i><span>Extra</span></a>
                  <div class="submenu-content">
                      <a href="pages/ui/session-timeout.html" class="menu-item">Session Timeout</a>
                  </div>
              </div>
              <div class="nav-item">
                  <a href="pages/ui/icons.html"><i class="ik ik-command"></i><span>Icons</span></a>
              </div> -->

              <div class="nav-lavel">Country</div>
              <div class="nav-item">
                  <a [routerLink]="['./country']" routerLinkActive="active"><i class="ik ik-box"></i><span>Quốc gia</span></a>
              </div>
              
              <div class="nav-lavel">Dish</div>
              <div class="nav-item">
                  <a [routerLink]="['./dish']" routerLinkActive="active"><i class="ik ik-box"></i><span>Món ăn</span></a>
              </div>

              <div class="nav-lavel">Material Category</div>
              <div class="nav-item">
                  <a [routerLink]="['./category']" routerLinkActive="active"><i class="ik ik-credit-card"></i><span>Danh mục nguyên liệu</span></a>
              </div>

              <div class="nav-lavel">Tool</div>
              <div class="nav-item">
                  <a [routerLink]="['./tool']" routerLinkActive="active"><i class="ik ik-pie-chart"></i><span>Công cụ</span></a>
              </div>

              <div class="nav-lavel">Spice</div>
              <div class="nav-item">
                  <a [routerLink]="['./spice']" routerLinkActive="active"><i class="ik ik-calendar"></i><span>Gia vị</span></a>
              </div>
          </nav>
      </div>
  </div>
</div>