.img-fluid{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #fff;
}
.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  