/* You can add global styles to this file, and also import other style files */
.mt-56{
    margin-top: 56px
}
.active{
    color: green !important
}
.no-img{
    width: 100%;
    height:130px;
    object-fit: contain;
    margin-top: 5px;
    border: 2px dotted #ccc
}
.table-user-thumb{
    width: 100px !important;
    height: 60px !important;
    border-radius: 6px !important;
    object-fit: cover
}